p.button {
    background-color: #210F7A;
    color: white;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

p.button:hover {
    background-color: darkgray;
}

p.button:active {
    background-color: lightgray;
}

div#list-transports{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}

div.list-transports{
    margin: auto;
    padding: 25px;
    border-radius: 10px; 
    margin-top: 25%;
    width: 35%;
    background-color: white;
}

