p.button {
    background-color: #210F7A;
    color: white;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

p.mail {
    background-color: #ff5252;
}

p.sms {
    background-color: #2196f3;
}

p.success {
    background-color: #8bc34a;
}

p.error {
    background-color: #DD2C00;
}

p.button:hover {
    background-color: darkgray;
}

p.button:active {
    background-color: lightgray;
}

#msg2 {
    padding: 25px;
}


div#list-methods{

}

div.list-transports{

}

