p.button {
    background-color: #210F7A;
    color: white;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

p.button:hover {
    background-color: darkgray;
}

p.button:active {
    background-color: lightgray;
}

div#list-methods{

}

div.list-transports{

}

