<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:utext="#{cas.mfa.esupotp.pagetitle}">CAS MFA ESUP-OTP</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
            <div id="data" th:data-apiurl="${apiUrl}" th:data-userhash="${user.getHash()}" th:data-uid="${user.getUid()}" th:data-divnocodedisplay="${divNoCodeDisplay}" th:data-waitingformethod="${waitingForMethodName}">
	      <div id="content" class="row">
		<div class="col-md">
		  <div class="card">
                    <div class="card-header text-center">
                      <h2 th:text="#{cas.login.pagetitle}">Login</h2>
                      <span class="fa-stack fa-2x hidden-xs">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-lock fa-stack-1x fa-inverse"></i>
		    </div>
		    <div id="displayTransport" class="btn btn-info" onClick="switchDiv();return false;">
		      <span th:utext="#{cas.mfa.esupotp.displayOtherMethod}" />
		    </div>
		    <div class="card-body box">
		      <h3 th:utext="#{cas.mfa.esupotp.waitingFor}" id="waiting" class="d-none"></h3>
		      <div id="loginForm" class="d-none">
                      <form method="post" id="fm1" th:object="${credential}">
			<div id="msg" class="errors" th:if="${#fields.hasErrors('*')}">
                          <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
			</div>
			<section class="form-group">
                          <label for="token" th:utext="#{cas.mfa.esupotp.password}"/> :			  
			  <div>
                            <input type="text" class="form-control required" id="token" size="25" tabindex="1"
				   th:field="*{token}"
				   th:accesskey="#{screen.welcome.label.password.accesskey}" autocomplete="off"/>
			  </div>
			</section>
			<section class="form-check">			
                            <input class="btn btn-submit btn-block" accesskey="l" id="submitCode"
				   th:value="#{screen.welcome.button.login}" tabindex="6" type="submit"/>
			  </div>
			</section>
			
			<input type="hidden" name="_eventId_submit" value="Login" />
			<input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
			<input type="hidden" name="geolocation"/>
                      </form>
		    </div>
		</div>

                    <div id="codeRequest" th:data-url="${flowExecutionKey}" class="card-header text-center d-none"></div>
		  </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    activateWaitingFor();
                    
                    //on load, call transport list html
                    var $outputDiv = $('#codeRequest');
                    var eventId = "callTransportView";
                    $.ajax({
                        type: "POST",
                        data: {execution:$("#codeRequest").data('url')}  ,
                        url: "?_eventId="+eventId+"&ajaxSource=true"
                    }).done(function(data){
                        $outputDiv.html(data);
                    }).fail(function(error){
                        $outputDiv.html(error);
                    });
                    
                    // submit transport choice
                    $(document).on('click', 'input.transportInput', function(){
                        if($(this).val() != 'push'){
                            submitCodeRequest();
                        } else {
                            submitPushCodeRequest($(this).val());
                        }
                    });
                });
                
                var socket;
                var apiUrl = $("#data").data('apiurl');
                var divNoCodeDisplay = $("#data").data('divnocodedisplay');
                var waitingForMethodName = $("#data").data('waitingformethod');
                var uid = $('#data').data('uid');
                var userHash = $('#data').data('userhash');
                
                // if waitingFor method is activated, waitingForDiv will appear else TransportDiv will appear
                function activateWaitingFor(){
                    if(divNoCodeDisplay){
                        $('#waiting').toggleClass('d-none');
                        submitPushCodeRequest(waitingForMethodName);
                    } else {
                        $('#loginForm').toggleClass('d-none');
                        $('#codeRequest').toggleClass('d-none');
                    }
                }
                
                function switchDiv(){
                    $('#loginForm').toggleClass('d-none');
                    $('#waiting').toggleClass('d-none');
                    $('#codeRequest').toggleClass('d-none');
                }
                
                function submitCodeRequest(){
                    var $outputDiv = $('#transportStatus');
                    var eventId = "submitCallTransport";
                    $.ajax({
                        type: "POST",
                        data: $("#fm2").serialize(),
                        url: "?_eventId="+eventId+"&ajaxSource=true"
                    }).done(function(data){
                        $outputDiv.html(data);
                    }).fail(function(error){
                        $outputDiv.html(error);
                    });
                }
                
                function submitPushCodeRequest(methodName) {
                    $.ajax({
                        type: 'POST',
                        url: apiUrl + '/users/'+ uid +'/methods/' + methodName + '/transports/push/' + userHash
                    }).done(function(data) {
                        if (data.code == "Ok") {
                            socket = io.connect(apiUrl, {
                                reconnect: true, 
                                path: "/sockets", 
                                query: 'uid=' + uid + '&hash=' + userHash + '&app=cas'
                            });
                            initializeSocket();
                        } else {
                            console.log("Something is broken");
                        }
                    });
                }
                
                function initializeSocket() {
                    socket.on('connect', function () {
                    });
                
                    socket.on('userAuth', function (data) {
                        if (data.code == "Ok") {
                            $('#token').val(data.otp);
                            $('#submitCode').click();
                        }
                    });
                }

            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    </div>
</div>
</main>
    </body>
</html>
